.comment-component {
    position: relative;
}

.comment-component .message {
    padding: 0;
    margin: 0;
}

.comment-component .likes {
    position: absolute;
    top: 5px;
    right: 5px;
}

.comment-component .likes .label {
    padding-right: 10px;
}
